.userTableCell {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.userTableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.userTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;

  h4 {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.userTableTab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 476px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardActive {
  position: relative;
  border-bottom: 10px solid #467fcf;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
