.noRecordWrapper {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 30px;
  gap: 20px;

  .camIcon {
    background-color: #467fcf;
    padding: 20px;
    color: #fff;
    svg {
      font-size: 3rem;
    }
  }

  h2 {
    color: #467fcf;
  }

  text-align: center;
}

.wrapper {
  .actionButtonWrapper {
    justify-content: flex-end !important;
    display: flex;
    flex-wrap: wrap;
  }

  .roomWrapper {
    h1 {
      margin-bottom: 20px;
    }

    .card {
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
      background: #fefefe;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      &:hover {
        background: #fafafa;
      }

      .cardIcon {
        color: #467fcf;
        background-color: #e8eff9;
        width: 30%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 15px;
        svg {
          font-size: 2.5em;
        }
      }

      .cardInfo {
        padding: 15px;
        p {
          margin-top: 10px;
          color: gray;
        }
      }

      .cardFooter {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        border-top: 1px solid #ccc;
      }
    }
    .emptyText {
      margin-top: 30px;
      font-style: italic;
    }
  }
}

.roomContent {
  overflow-y: initial !important;
}
