.headerWrapper {
  width: 100%;
  display: fixed;
  height: 70px;
  background-color: #fff;
}

.content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.leftContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      object-position: left !important;
    }
    span {
      font-size: 24px;
      font-weight: 700;
      color: #fbfdff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
  }
}

.rightContent {
  .avatar {
    cursor: pointer;
  }
}

.appLayout {
  min-height: calc(100vh - 50px);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
